<%= form_for(@game_task) do |f| %>
  <% if @game_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_task.errors.count, "error") %> prohibited this game_task from being saved:</h2>

      <ul>
      <% @game_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scenario %><br />
    <%= f.number_field :scenario %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :manager %><br />
    <%= f.text_field :manager %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
